* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: 100vw;
}

a {
  background-image: linear-gradient(45deg, darkblue, blue 80%);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
